/* RESET */
body {
  margin: 0px;
  font-family: 'Courier New', Courier, monospace;
  background-color: var(--body-background);
  min-width: 620px;
}

/* colors */
body {
  --body-background: #303030;
  --standout-background: #212121;
  --light-text: white;
  --light-emphasis: rgb(164, 164, 164);
  --highlight-color: rgb(0, 145, 255);
  --very-light-emphasis: #d3d3d3;
}

/* top-level containers */
.app-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.middle-section-container {
  background-color: var(--body-background);
}
.top-section-container {
  background-color: var(--standout-background);
}

/* top bar */
.top-section-container {
  display: flex;
  justify-content: center;
}
.top-left {
  width: 230px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.top-middle {
  width: 580px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.top-right {
  width: 206px;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.app-title {
  cursor: pointer;
  width: 200px;
}
.navbar-title-block {
  color: var(--light-text);
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
}
.undo-icon {
  margin-top: -3px;
  padding-left: 7px;
  padding-right: 7px;
}
.top-button {
  background-color: var(--highlight-color);
  border-radius: 5px;
  color: var(--standout-background);
  font-weight: bold;
  font-size: 19px;
  height: 20px;
  padding: 4px;
  margin-left: 5px;
  font-family: 'VT323', monospace;
  margin-top: 2px;
}

.top-button:hover {
  background-color: var(--light-text);
  color: var(--highlight-color);
  cursor: pointer;
}

/* middle */
.middle-section-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.middle-section-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
}
.middle-section-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  margin-left: 10px;
}
.big-canvas {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
}

.paint-can {
  cursor: url('/fill-color.png') 25 25, auto;
}

.pen {
  cursor: url('/pencil-tip.png') -3 12, auto;
}

.eraser {
  cursor: url('/eraser.png') -8 15, auto;
}

.eye-dropper {
  cursor: url('/map-pin.png') 10 20, auto;
}

.brush {
  cursor: url('/paint.png') 4 15, auto;
}

/* frame container */
.bottom-section-container {
}

.bottom-section-flex-container {
  background-color: var(--standout-background);
  overflow-x: auto;
  width: 1016px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin: auto;
}
.frame-container {
  flex: 0 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border: 5px solid var(--light-emphasis);
  border-radius: 5px;
  width: 80px;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  z-index: 1;
  background-color: var(--light-emphasis);
}
.frame-container.selected {
  border: 5px solid var(--highlight-color);
  background-color: var(--highlight-color);
}

.small-canvas {
  background-color: white;
  z-index: 0;
}
.small-canvas.frame {
  width: 80px;
  height: 80px;
}
.small-canvas.animation {
  width: 180px;
  height: 180px;
}
.frame-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.frame-button-icon {
  margin-top: 5px;
  color: var(--standout-background);
}
.add-new-frame {
  color: var(--light-emphasis);
  text-align: center;
  padding-top: 8px;
}
.add-new-frame-button {
  color: var(--standout-background);
  font-size: 14px;
  background-color: var(--very-light-emphasis);
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 6px;
  padding: 4px;
}
.frame-cap-message {
  color: var(--standout-background);
}

/* main canvas */
.layer-canvas {
  background-color: var(--standout-background);
  border-radius: 5px;
  width: 800px;
  height: 600px;
}

/* tools */
.tool-container {
  width: 204px;
  margin-top: 10px;
  margin-left: 10px;
  flex-direction: row;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5px;
  background-color: var(--light-emphasis);
  border-radius: 5px;
}
.tool-button {
  width: 35px;
  height: 35px;
  margin: 1px;
  background-color: var(--body-background);
  border-radius: 4px;
  cursor: pointer;
}

.tool-picker-icon {
  margin-top: 5px;
  margin-left: 5px;
  color: white;
}

.tool-button.selected {
  background-color: var(--highlight-color);
}

/* animation */
.animation-container {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  border: 2px solid var(--light-emphasis);
  border-radius: 5px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--light-emphasis);
}
.animation-canvas-container {
  margin-top: 10px;
}

.fps-range-selector-container {
  color: var(--standout-background);
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  width: 92%;
}

.fps-selector {
  -webkit-appearance: none;
  height: 16px;
  width: 120px;
  background: var(--very-light-emphasis);
  outline: none;
}
.fps-selector::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* appearance: none; */
  width: 16px;
  height: 16px;
  background: var(--highlight-color);
}
.fps-selector::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: var(--highlight-color);
}
.fps-display-text {
  font-size: 20px;
  margin-right: 4px;
  position: relative;
  top: -1px;
  margin-left: 2px;
  font-family: 'VT323', monospace;
}

/* layer picker */
.layer-container {
  margin-bottom: 10px;
  margin-left: 10px;
  width: 206px;
  border: 4px solid var(--light-emphasis);
  border-radius: 5px;
  font-family: 'VT323', monospace;
}
.layer-translation-container {
  margin-bottom: 10px;
  margin-right: 10px;
  width: 196px;
  border: 4px solid var(--light-emphasis);
  border-radius: 5px;
}
.layer-title-row {
  background-color: var(--light-emphasis);
  display: flex;
  justify-content: space-between;
  font-family: 'VT323', monospace;
}
.layer-title-row.center {
  justify-content: center;
}
.checkbox-and-label {
  display: flex;
  flex-direction: row;
  width: 110px;
}
.layer-title-text {
  color: var(--standout-background);
  margin-left: 5px;
  margin-bottom: 3px;
  margin-right: 5px;
  font-size: 22px;
}
.layer-title-text-preview {
  color: var(--standout-background);
  margin-left: 5px;
  margin-bottom: 3px;
  margin-right: 3px;
  font-size: 22px;
}
.layer-button {
  margin-left: 3px;
  margin-right: 3px;
}
.checkbox {
  margin-top: 1px;
}
.layer-row {
  color: var(--light-emphasis);
  background-color: var(--standout-background);
  padding-left: 3px;
  padding-bottom: 3px;
  font-size: 17.9px;
}
.layer-row.selected {
  background-color: var(--highlight-color);
  color: var(--light-text);
}

.layer-button-icon {
  margin-top: 2px;
  color: var(--standout-background);
}
.layer-row-container {
  height: 126px;
  background-color: var(--standout-background);
}

/* copy tools  */
.copy-tools-container {
  margin-bottom: 10px;
  margin-right: 10px;
  width: 196px;
  border: 4px solid var(--light-emphasis);
  border-radius: 5px;
  background-color: var(--light-emphasis);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 7px;
  font-family: 'VT323', monospace;
}
.copy-tools-button {
  background-color: var(--very-light-emphasis);
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
  width: 180px;
  margin-bottom: 10px;
}
.copy-tools-icon {
  color: var(--standout-background);
  margin: 5px;
  margin-left: 10px;
}
.copy-tools-text {
  font-size: 18px;
  color: var(--standout-background);
  text-align: center;
  width: 100%;
  margin-left: 2px;
}
.layer-tool-container {
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  background-color: var(--light-emphasis);
}
.layer-tool-icon {
  color: var(--standout-background);
}

/* homepage */

.homepage-container {
  background-color: var(--body-background);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.left-container {
}
.right-container {
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.homepage-title img {
  width: 300px;
  margin-top: 30px;
  margin-left: 20px;
}
.sample-sprite {
  width: 220px;
  margin-top: 20px;
}

.homepage-tagline-container {
}
.homepage-tagline-title {
  font-size: 40px;
  color: var(--light-text);
  margin-top: 20px;
  margin-left: 30px;
  font-family: 'VT323', monospace;
}

.homepage-tagline-desc {
  font-size: 25px;
  color: var(--light-text);
  margin-top: 30px;
  font-family: 'VT323', monospace;
}
.pixalive-screenshot {
  margin-left: 30px;
  margin-top: 30px;
}

.create-sprite-container {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.homepage-create-sprite-button {
  width: 175px;
  height: 40px;
  background-color: var(--highlight-color);
  border-radius: 4px;
  font-family: 'VT323', monospace;
  margin-top: 10px;
}

.homepage-create-sprite-button :hover {
  background-color: var(--light-text);
  color: var(--highlight-color);
  cursor: pointer;
}

.create-sprite-text {
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  font-weight: bold;
}

.sprite-example-title {
  color: var(--light-text);
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px;
}

.sprite-ex {
  width: 160px;
  height: 160px;
  color: var(--light-text);
  background-color: var(--standout-background);
  border: 2px solid var(--light-emphasis);
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.top-input-box {
  background-color: var(--standout-background);
  border: none;
  color: var(--light-text);
  width: 200px;
  margin-right: 20px;
  margin-top: -8px;
}
.top-input-box-label {
  font-size: 10px;
  margin-top: -5px;
}
.input-title {
  font-size: 30px;
  font-family: 'VT323', monospace;
}
.input-username {
  font-size: 30px;
  font-family: 'VT323', monospace;
}
.input-box-pencil-icon {
  color: white;
  position: relative;
  margin-top: 3px;
  top: 2px;
  left: -2px;
}

.info {
  color: var(--light-emphasis);
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}
.connection-block {
}
.color-picker-container {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid var(--light-emphasis);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--light-emphasis);
  padding: 10px;
}
.h-picker {
  width: 180px;
  height: 20px;
  margin-bottom: 10px;
}
.sl-picker {
  width: 180px;
  height: 180px;
}
.selected-color-row {
  margin-top: 15px;
  display: flex;
  font-family: 'VT323', monospace;
  font-size: 23px;
  color: var(--standout-background);
}
.selected-color-row div {
  margin-top: -10px;
}
.swatch {
  height: 18px;
  width: 18px;
  background-color: white;
  margin-left: 10px;
  position: relative;
  top: 3px;
}
.resize-picker-container {
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid var(--light-emphasis);
  border-radius: 5px;
  background-color: var(--light-emphasis);
  padding: 10px;
  border-top: var(--standout-background);
}
.resize-text {
  font-family: 'VT323', monospace;
  font-size: 20px;
  margin-right: 10px;
}
.resize-picker-container {
  width: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.resize-selector {
  background-color: var(--very-light-emphasis);
  color: var(--standout-background);
  font-size: 18px;
  font-family: 'VT323', monospace;
}

/* popup */
.popup-outer-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.818);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}
.popup {
  background: var(--light-emphasis);
  border-radius: 5px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popup-button {
  background-color: var(--very-light-emphasis);
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: var(--standout-background);
  font-weight: bold;
  font-size: 25px;
  height: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 5px;
  font-family: 'VT323', monospace;
}
.close-popup {
  font-size: 25px;
  font-family: 'VT323', monospace;
  margin-top: 10px;
}
.gif-export-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.gif-size-selector {
  background-color: var(--very-light-emphasis);
  color: var(--standout-background);
  font-size: 25px;
  margin-right: 10px;
  height: 35px;
  font-family: 'VT323', monospace;
}
